body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('img/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* 🔽 Cambios importantes */
  display: flex;
  justify-content: center;
  align-items: flex-start;   /* antes center */
  min-height: 100vh;         /* en vez de height: 100vh */
  height: auto;              /* deja crecer la página */
  padding: 20px 10px;        /* espacio alrededor y permite scroll */
  box-sizing: border-box;
  overflow-y: auto;          /* asegura scroll vertical */
}

.container {
  text-align: center;
  background: #FAF7F0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  /* 🔽 Cambios */
  width: 80%;       /* que use todo el ancho disponible */
  max-width: 400px;  /* pero no se pase de 400px en pantallas grandes */
}

 .titulo-caligrafico {
    font-family: "Great Vibes", cursive;
    font-size: 3em;
    color: #e63946;
    text-align: center;
    margin-top: 50px; 
  }

h1, h2 {
  color: #2E2E2E;
  text-shadow: 2px 2px 4px rgb(199, 199, 199);
}

.gift-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.gift-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border: 2px solid #e63946;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(239, 191, 4, 0.2);
}

.sub-info span {
  background-color: rgba(44, 91, 2, 0.9);
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgb(70, 70, 70);
  font-size: 0.7em;
}

.gift-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 5px;
}

.gift-info a {
  color: #e63946;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(199, 199, 199);
}

.gift-info a:hover {
  text-decoration: underline;
}

.image-container {
  width: 100px;
  height: 100px;
  border: 1px solid #2c5b02;
  border-radius: 10px;
  overflow: fidden;
}

.image-container img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  border-radius: 10px;
}
